@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ffffff;
  }
}

body {
  margin: 0;
  background: var(--background);
  font-family: Courier;
}


nav.sidebar {
  background: linear-gradient(to bottom, #020617, #030712);
  animation: titleColorCycle 4s infinite linear;
}

@keyframes titleColorCycle {
  0%   { color: #ffffff; }
  40%  { color: #c9a66b; }
  60%  { color: #c9a66b; }
  100% { color: #ffffff; }
}

.sidebar a,
.sidebar a:visited {
  color: #5b7c99;
  text-decoration: none !important;
}

.sidebar a:hover {
  color: #60a5fa ;
  background: none !important;
}

.nav.sidebar,
.nav-key{
  animation: titleColorCycle 4s infinite linear;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: calc(100% + 10px);
  padding: 18px 14px;
  border-radius: 14px;

  background: #1a1a1a;
  border: 1px solid #5b7c99;
  color: #fff;
  text-decoration: none;
  box-shadow:
    inset 0 -6px 0 #5b7c99,
    inset 0 1px 0 #2a2a2a;
}

.page-content {
  max-width: 1100px;
  padding: 40px;
}



/*
colors:
green: 228B22
red:7f1d1d
blue: 000080
Warm glow (buttons / emphasis):    #c9a66b
Soft amber (hover / underline):    #e3c98f
Moss green (links / highlights):   #4b7f52
Pine green (hover states):         #365f3b
Rain blue (icons / borders):       #5b7c99
Background (night sky / rain):     #0f172a   (slate-900)
Secondary background (panels):     #020617   (near-black blue)
Text primary (fog):                #e5e7eb   (soft gray)
Text muted:                        #9ca3af   (mist gray)
*/

