@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000080;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nav.sidebar {
  color: rgb(229 231 235);
}

.sidebar a,
.sidebar a:visited {
  color: #ffffff !important;
  text-decoration: none !important;
}

/* OPTIONAL: Hover highlight */
.sidebar a:hover {
  color: #000080 !important;
  background: none !important;
}