@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #228B22;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


nav.sidebar {/* Title color */
  color: rgb(235, 229, 233);
  animation: titleColorCycle 4s infinite linear;
}

@keyframes titleColorCycle {
  0%   { color: #ffffff; }
  40%  { color: #ffffff; }
  60%  { color: #228B22; }
  100% { color: #ffffff; }
}

.sidebar a,
.sidebar a:visited {
  color: #ffffff;
  text-decoration: none !important;
}

.sidebar a:hover {
  color: #228B22 ;
  background: none !important;
}

.nav.sidebar,
.nav-key{
  animation: titleColorCycle 4s infinite linear;
  display: flex;
  width: calc(100% + 40px);
  box-sizing: border-box;
  align-items: center;

  padding: 18px 14px;
  border-radius: 14px;

  background: #1a1a1a;
  border: 1px solid #228B22;
  color: #fff;
  text-decoration: none;
  box-shadow:
    inset 0 -6px 0 #228B22,
    inset 0 1px 0 #2a2a2a;
  margin-left: -40px;  
}

/*
colors:
green: 228B22
red:7f1d1d
blue: 000080
*/

