@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000080;
    --foreground: #ffffff;
  }
}

body {
  margin: 0;
  background: var(--background);
  font-family: Courier;
}


nav.sidebar {/* Title color */
  background: linear-gradient(to bottom, #020617, #030712);
  animation: titleColorCycle 4s infinite linear;
}

@keyframes titleColorCycle {
  0%   { color: #ffffff; }
  40%  { color: #60a5fa; }
  60%  { color: #60a5fa; }
  100% { color: #ffffff; }
}

.sidebar a,
.sidebar a:visited {
  color: #ffffff;
  text-decoration: none !important;
}

.sidebar a:hover {
  color: #60a5fa ;
  background: none !important;
}

.nav.sidebar,
.nav-key{
  animation: titleColorCycle 4s infinite linear;
  display: flex;
  width: calc(100% + 40px);
  box-sizing: border-box;
  align-items: center;

  padding: 18px 14px;
  border-radius: 14px;

  background: #1a1a1a;
  border: 1px solid #60a5fa;
  color: #fff;
  text-decoration: none;
  box-shadow:
    inset 0 -6px 0 #60a5fa,
    inset 0 1px 0 #2a2a2a;
  margin-left: -40px;  
}

.page-content {
  max-width: 1100px;
  padding: 40px;
}



/*
colors:
green: 228B22
red:7f1d1d
blue: 000080
*/

